html
    head
        title= title
    //- Google Adsense script to enable ads to show on site
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1957345351542704" crossorigin="anonymous")
    style
        include style.css
    body
        h1(id="main-header") Readable Regex 
        h4 API to execute readable regex
        label Enter a string to run regex on
        br
        br
        input(id='inputString' type='text' placeholder='i.e. #1234' onkeyup='enableButton()')
        br
        br
        label Enter a field(relevant keywords) to perform validations(Like Phone Number,email,all uppercase,all lowercase,binary number,etc)
        br
        br
        input(id='fieldToValidate' type='text' placeholder='i.e. email/email address' onkeyup='enableButton()')
        br
        br
        label Select a regex operation(transformation) to perform
        br
        br
        select(name='endpoint')
            option(value='onlyNumbers') Only Numbers
            option(value='onlyLetters') Only Letters
            option(value='onlySpecialCharacters') Only Special Characters
            option(Value='trim') Trim
            //- TODO cannot currently run excludedCharacters this because it requires another input box for the excluded characters. 
            //- Maybe instead of using input box, we should just have a place to define a json body and send the request
            //- option(value='excludeTheseCharacters') Exclude These Characters
            
        br
        br
        button(onclick='getResponse()' id='getResponseButton' disabled='true') Get Response
        br
        br
        h4 API response below
        br
        br
        div(id='responseBox')
        br
        br
        pre
            include codeSamples.html
        footer(id='footer')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
        crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script
        include script.js
